<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>E-Ticketing | Ticket Pegawai | Request</title>
    <%- include('partials_admin/head'); %>
  </head>

  <body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">
    <!-- ====================================
    ——— WRAPPER
    ===================================== -->
    <div class="wrapper">
        <!-- ====================================
          ——— LEFT SIDEBAR WITH OUT FOOTER
        ===================================== -->
        <%- include('partials_admin/sidebar'); %>

          <!-- ====================================
        ——— PAGE WRAPPER
        ===================================== -->
        <div class="page-wrapper">
          
          <!-- Header -->
          <%- include('partials_admin/header'); %>

          
    <!-- ====================================
    ——— CONTENT WRAPPER
    ===================================== -->
    <div class="content-wrapper">
        <div class="content">
            <div class="breadcrumb-wrapper">
                <h1>Ticket Request Pegawai</h1>
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb p-0">
                        <li class="breadcrumb-item">
                          <a href="/homeAdmin">
                            <span class="mdi mdi-home"></span>                
                          </a>
                        </li>
                        <li class="breadcrumb-item">
                          Ticket Pegawai
                        </li>
                        <li class="breadcrumb-item" aria-current="page">Request</li>
                      </ol>
                    </nav>
            
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-header card-header-border-bottom d-flex justify-content-between">
                            <h2>Data Ticket Request Pegawai</h2>
                        </div>
            
                        <div class="card-body">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="belumDikerjakan-tab" data-toggle="tab" data-target="#belumDikerjakan" type="button" role="tab" aria-controls="belumDikerjakan" aria-selected="true">Belum Dikerjakan</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="sedangDikerjakan-tab" data-toggle="tab" data-target="#sedangDikerjakan" type="button" role="tab" aria-controls="sedangDikerjakan" aria-selected="false">Sedang Dikerjakan</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="selesaiDikerjakan-tab" data-toggle="tab" data-target="#selesaiDikerjakan" type="button" role="tab" aria-controls="selesaiDikerjakan" aria-selected="false">Selesai Dikerjakan</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="belumDikerjakan" role="tabpanel" aria-labelledby="belumDikerjakan-tab">
                                    <div class="hoverable-data-table">
                                        <table id="hoverable-data-table" class="table table-hover nowrap" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>No Tiket</th>
                                                    <th>NIP Pegawai</th>
                                                    <th>Kategori</th>
                                                    <th>Deskripsi</th>
                                                    <th>Tanggal</th>
                                                    <th>Lampiran</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                    
                                            <tbody>
                                                <% reqTicket.forEach((i,index)=> { %>
                                                    <% if (i.type == "Pegawai" && i.status == "Belum Dikerjakan") { %>
                                                      <tr>
                                                        <td><%= i.no_ticket%></td>
                                                        <td><%= i.nip_pegawai%></td>
                                                        <td><%= i.category%></td>
                                                        <td><%= i.deskripsi%></td>
                                                        <td><%= new Date(i.request_date).toLocaleString("id-ID")%></td>
                                                        <td><a href="/<%= i.lampiran%>" target="_blank" type="button" class="btn btn-sm btn-primary"><i class="fa-solid fa-print"></i> View</a></td>
                                                        <td><span class="badge badge-pill badge-danger"><%= i.status%></span></td>
                                                        <td><button type="button" class="btn btn-sm btn-primary" onclick='detail("<%= i.ticketID %>")'>
                                                          <i class="fa-solid fa-circle-info"></i>  Detail
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-primary" onclick='processTicketRequest("<%= i.id %>")'><i class="fa-solid fa-wrench"></i>  Process</button>
                                                        </td>
                                                        <!-- <td><a href="" data-toggle="modal" data-target="#myModal-cs"><img src="../css/Logo/bubble-icon.png" alt="customer service"></a></td> -->
                                                      </tr>
                                                    <% } %> 
                                                  <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="sedangDikerjakan" role="tabpanel" aria-labelledby="sedangDikerjakan-tab">
                                    <div class="hoverable-data-table">
                                        <table id="hoverable-data-table2" class="table table-hover nowrap" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>No Tiket</th>
                                                    <th>NIP Pegawai</th>
                                                    <th>Kategori</th>
                                                    <th>Deskripsi</th>
                                                    <th>Tanggal</th>
                                                    <th>Tanggal Proses</th>
                                                    <th>Lampiran</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                    
                                            <tbody>
                                                <% reqTicket.forEach((i,index)=> { %>
                                                    <% if (i.type == "Pegawai" && i.status == "Sedang Dikerjakan") { %>
                                                      <tr>
                                                        <td><%= i.no_ticket%></td>
                                                        <td><%= i.nip_pegawai%></td>
                                                        <td><%= i.category%></td>
                                                        <td><%= i.deskripsi%></td>
                                                        <td><%= new Date(i.request_date).toLocaleString("id-ID")%></td>
                                                        <td><%= new Date(i.request_process_date).toLocaleString("id-ID")%></td>
                                                        <td><a href="/<%= i.lampiran%>" target="_blank" type="button" class="btn btn-sm btn-primary"><i class="fa-solid fa-print"></i> View</a></td>
                                                        <td><span class="badge badge-pill badge-primary"><%= i.status%></span></td>
                                                        <td>
                                                            <% for( let j = 0; j < pegawai.length; j++ ) { %>
                                                                <% if (pegawai[j].nip == i.nip_pegawai) { %>
                                                                  <button type="button" class="btn btn-sm btn-primary" onclick='detail("<%= i.ticketID %>")'><i class="fa-solid fa-circle-info"></i>  Detail</button>
                                                                  <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#modalValidation" data-bs-id="<%= i.id %>" data-bs-nip_pegawai="<%= i.nip_pegawai %>" data-bs-name="<%= pegawai[j].name %>" data-bs-email="<%= pegawai[j].email %>" data-bs-noTicket="<%= i.no_ticket %>" data-bs-ticketID="<%= i.ticketID %>"><i class="fa-solid fa-check"></i>  Complete</button>
                                                                  <% break %>
                                                                 <% } %>
                                                            <% } %>
                                                        </td>
                                                        <!-- <td><a href="" data-toggle="modal" data-target="#myModal-cs"><img src="../css/Logo/bubble-icon.png" alt="customer service"></a></td> -->
                                                      </tr>
                                                    <% } %> 
                                                  <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="selesaiDikerjakan" role="tabpanel" aria-labelledby="selesaiDikerjakan-tab">
                                    <div class="hoverable-data-table">
                                        <table id="hoverable-data-table3" class="table table-hover nowrap" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>No Tiket</th>
                                                    <th>NIP Pegawai</th>
                                                    <th>Kategori</th>
                                                    <th>Deskripsi</th>
                                                    <th>Tanggal</th>
                                                    <th>Tanggal Selesai</th>
                                                    <th>Lampiran</th>
                                                    <th>Status</th>
                                                    <th>SLA (%)</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <% var persen100 = 0 %>
                                            <% var persenDibawah100 = 0 %>
                                            <% var persen0 = 0 %>
                                            <tbody>
                                                <% reqTicket.forEach((i,index)=> { %>
                                                    <% if (i.type == "Pegawai" && i.status == "Selesai Dikerjakan") { %>
                                                      <tr>
                                                        <td><%= i.no_ticket%></td>
                                                        <td><%= i.nip_pegawai%></td>
                                                        <td><%= i.category%></td>
                                                        <td><%= i.deskripsi%></td>
                                                        <td><%= new Date(i.request_date).toLocaleString("id-ID")%></td>
                                                        <td><%= new Date(i.request_closed_date).toLocaleString("id-ID")%></td>
                                                        <td><a href="/<%= i.lampiran%>" target="_blank" type="button" class="btn btn-sm btn-primary"><i class="fa-solid fa-print"></i> View</a></td>
                                                        <td><span class="badge badge-pill badge-success"><%= i.status%></span></td>
                                                        <% var selisih = Math.abs(i.request_closed_date - i.request_date) %>
                                                        <% var selisihHours = Math.floor(selisih / 3600000) %>
                                                        <% if (i.category == "Email") { %>
                                                          <% if (selisihHours <= 48) { %>
                                                            <% var persen = 100 %>
                                                          <% }else{ %>
                                                            <% var persen = 100 - ((selisihHours-48)*2.08) %>
                                                            <% if (persen < 0) { %>
                                                              <% var persen = 0 %>
                                                            <% } %>
                                                          <% } %>
                                                        <% } else{ %>
                                                          <% var persen = 100 %>
                                                        <% } %>
                                                        
                                                        <td><%= persen.toFixed(2) %></td>
                                                        <% if (persen == 100) { %>
                                                          <% persen100 += 1 %>
                                                         <% }else if(persen > 0 && persen < 100){ %>
                                                           <% persenDibawah100 += 1 %>
                                                         <% }else if(persen == 0){ %>
                                                           <% persen0 += 1 %>
                                                         <% } %>
                                                        <td><button type="button" class="btn btn-sm btn-primary" onclick='detail("<%= i.ticketID %>")'><i class="fa-solid fa-circle-info"></i>  Detail</button></td>
                                                        <!-- <td><a href="" data-toggle="modal" data-target="#myModal-cs"><img src="../css/Logo/bubble-icon.png" alt="customer service"></a></td> -->
                                                      </tr>
                                                    <% } %> 
                                                  <% }) %>
                                            </tbody>
                                        </table>
                                        <div>
                                          <h4>Akumulasi Nilai SLA Pada Ticket Request Pegawai</h4>
                                          <p>Nilai SLA 100% : <%= persen100 %> Ticket</p>
                                          <p>Nilai SLA Diatas 0% Dan Dibawah 100% : <%= persenDibawah100 %> Ticket</p>
                                          <p>Nilai SLA 0% : <%= persen0 %> Ticket</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            
            </div>

            

        </div> <!-- End Content -->
    </div> <!-- End Content Wrapper -->
    
    

    <!-- Modal Validation -->
<div class="modal fade" id="modalValidation" tabindex="-1" aria-labelledby="modalValidation" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalValidation">Validasi Ticket</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="validation-id" name="validation-id">
        <input type="hidden" id="validation-nip_pegawai" name="validation-nip_pegawai">
        <input type="hidden" id="validation-name" name="validation-name">
        <input type="hidden" id="validation-email" name="validation-email">
        <input type="hidden" id="validation-ticketID" name="validation-ticketID">
        <div class="mb-3">
          <label for="validation-noTicket" class="col-form-label">No Ticket :</label>
          <input type="text" readonly class="form-control" id="validation-noTicket">
        </div>
        <div class="mb-3">
          <label for="action" class="col-form-label">Action :</label>
          <textarea class="form-control" id="action"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" onclick='validationTicketRequest()'>Submit</button>
      </div>
    </div>
  </div>
</div> 

    <!-- Footer -->
    <%- include('partials_admin/footer'); %>

    </div> <!-- End Page Wrapper -->
  </div> <!-- End Wrapper -->


  <%- include('partials_admin/script'); %>
<script type="text/javascript">
    // document.querySelector(".third").addEventListener('click', function(){
    //     swal("Our First Alert", "With some body text and success icon!", "success");
    // });
    //=====================Modal Validation========================
    const validationModal = document.getElementById('modalValidation')
        validationModal.addEventListener('show.bs.modal', event => {
          // Button that triggered the modal
          const button = event.relatedTarget
          // Extract info from data-bs-* attributes
          const recipient = button.getAttribute('data-bs-id')
          const recipient1 = button.getAttribute('data-bs-noTicket')
          const recipient2 = button.getAttribute('data-bs-nip_pegawai')
          const recipient3 = button.getAttribute('data-bs-name')
          const recipient4 = button.getAttribute('data-bs-email')
          const recipient5 = button.getAttribute('data-bs-ticketID')
          // If necessary, you could initiate an AJAX request here
          // and then do the updating in a callback.
          //
          // Update the modal's content.
          const modalTitle = validationModal.querySelector('.modal-title')
          const modalBodyInput = validationModal.querySelector('#validation-id')
          const modalBodyInput1 = validationModal.querySelector('#validation-noTicket')
          const modalBodyInput2 = validationModal.querySelector('#validation-nip_pegawai')
          const modalBodyInput3 = validationModal.querySelector('#validation-name')
          const modalBodyInput4 = validationModal.querySelector('#validation-email')
          const modalBodyInput5 = validationModal.querySelector('#validation-ticketID')
  
          modalTitle.textContent = `Completed Ticket Request Pegawai ${recipient1}`
          modalBodyInput.value = recipient
          modalBodyInput1.value = recipient1
          modalBodyInput2.value = recipient2
          modalBodyInput3.value = recipient3
          modalBodyInput4.value = recipient4
          modalBodyInput5.value = recipient5
          
        })

        async function processTicketRequest(id){
          let request_process_date = new Date().toISOString();
          $.ajax({
              url: `http://localhost:3000/api/update_reqTicket/${id}`,
              type: 'PUT',
              data: ({ status: "Sedang Dikerjakan" , request_process_date: request_process_date }),
              success: function (result) {
                // location.reload();
              }
          });
          Swal.fire(
            'Good job!',
            'Ticket Request Pegawai Telah Diproses',
            'success'
          ).then(function(){ 
              location.reload();
              }
            )
        }

      async function validationTicketRequest(){
        let id = $("#validation-id").val();
        let action = $("#action").val();
        let request_closed_date = new Date().toISOString();
        $.ajax({
            url: `http://localhost:3000/api/update_reqTicket/${id}`,
            type: 'PUT',
            data: ({ action: action, request_closed_date: request_closed_date, status: "Selesai Dikerjakan" }),
            success: function (result) {
              // location.reload();
            }
        });

        let receiver_nip = $("#validation-nip_pegawai").val();
        let receiver_name = $("#validation-name").val();
        let receiver_email = $("#validation-email").val();
        let no_ticket = $("#validation-noTicket").val();
        let ticketID = $("#validation-ticketID").val();

        socket.emit("validationReqTicket", {
            receiver_nip: receiver_nip,
            receiver_name: receiver_name,
            sender_role: "admin",
            receiver_email: receiver_email,
            no_ticket: no_ticket,
            ticketID: ticketID,
            text: "Request Ticket Pegawai Completed"
        });

        $.ajax({
          url: `http://localhost:3000/api/add_notification`,
          type: 'POST',
          data: ({ no_ticket: no_ticket, ticketID: ticketID, receiver_role: "pegawai", receiver_nip: receiver_nip, receiver_name: receiver_name, sender_role: "admin", text: "Request Ticket Pegawai Completed" }),
          success: function (result) {
            // location.reload();
          }
        });

        Swal.fire({
            title: 'Are you sure?',
            text: "Apakah Ticket Request Telah Selesai Dikerjakan?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#198754',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Completed!',
                    'Ticket Request Pegawai Selesai Dikerjakan',
                    'success'
                ).then(function(){ 
                      location.reload();
                    }
                  )
            }
        })
      }

        

      function detail(ticketID){
          $.ajax({
              url: `http://localhost:3000/homeAdmin/request/detail/${ticketID}`,
              type: 'GET',
              success: function (result) {
              location.href=`/homeAdmin/request/detail/${ticketID}`
              // location.reload();
              }
          });
      }
</script>
</body>
</html>

